name: feeed
description: "A new Flutter project."
publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  go_router: ^16.3.0
  shared_preferences: ^2.5.3
  provider: ^6.1.5+1
  file_picker: ^10.3.3
  http: ^1.6.0
  flutter_svg: ^2.2.2


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
flutter:

  uses-material-design: true
  assets:
    - lib/assets/images/
    - lib/assets/images/logos/
  
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: inter
      fonts:
        - asset: lib/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf
        - asset: lib/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf
          style: italic

    - family: integral
      fonts:
        - asset: lib/assets/fonts/integral_cf/integralcf_bold.otf

  
  # see https://flutter.dev/to/font-from-package
